@font-face {
    font-family: 'Aniron';
    src: url("../font-family/anirm___.woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aniron';
    
    @mixin ringDesign ($diameter) {
        @if $diameter==30px {
            width: $diameter;
            height: $diameter;
            border: solid $diameter/10 rgb(222, 130, 53);
            border-radius: 50%;
            box-shadow: $diameter/30 $diameter/30 darken(rgb(222, 130, 53), 25%);

        } @else if $diameter==100px {
            width: $diameter;
            height: $diameter;
            border: solid $diameter/10 rgb(250, 207, 0);
            border-radius: 50%;
            box-shadow: $diameter/50 $diameter/50 darken(rgb(250, 207, 0), 25%);
        }
    }

    @mixin displayingContent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @mixin linkDecoration {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    @mixin linkDecorationOnHover {
        color: rgb(255, 255, 255);
        text-decoration: underline white;
    }

    $background-color-page: (
        "headerFooter":rgb(254,97,0),
        "article":rgb(240, 240, 230)
    );

    header {
        display: block;
        background-color: map-get($background-color-page, "headerFooter");

        nav {
            padding: 1%;

            ul {
                @include displayingContent();
                width: 100%;
                margin-bottom: 0;
                                
                li {
                    margin: auto 0;
                    padding-right: 2%;
                    padding-left: 2%;
                    border-right: solid 1px rgb(255, 255, 255);
                    list-style-type: none;

                    a {
                        @include linkDecoration();
                        font-size: 10px;
                    }

                    a:hover {
                        @include linkDecorationOnHover();
                    }
                }

                #findThePreciousList {
                    border:none;

                    #findThePreciousLink {
                        @include linkDecoration();
                        font-size: 15px;

                        #theRingImage {
                            display: inline-block;
                            width: 20px;
                            height: 17px;
                            background-image: url(../Images/Unico_Anello.png);
                            background-size: 20px 17px;
                        }
                    }
                    
                    #findThePreciousLink:hover {
                        text-decoration: none;
                    }
                }
                
                #lastListItem {
                    border:none;
                }
            }
        }
    }

    article {
        background-color: map-get($background-color-page, "article");
        
        p {
            font-size: 25px;
            margin-bottom: 0;
        }

        #firstRingBlock {
            @include displayingContent();
            padding-top: 1%;
        }

        .othersRingBlocks {
            @include displayingContent();
            margin-top: 4%;
        }

        .ringMyPrecious {
            @include ringDesign (30px);
            margin-left: 1%;
            margin-right: 1%;
        }

        #ringTheOne {
            @include ringDesign (100px);
            margin-left: 1%;
            margin-right: 1%;
        }

        #ringLoopBlock {
            @include displayingContent();
            position: relative;
            width: 200px;
        }

        #ringfindIt {
            padding-bottom: 2%;
        }

        $diameter: 30px;
        $position: 0%;
        $j:1;

        @for $i from 1 through 6 {
            #ringLooping-#{$i} {
                width: $diameter;
                height: $diameter;
                position: absolute;
                left: $position;
                border: solid $diameter/10 rgb(66, 66, 66);
                border-radius: 50%;
                box-shadow: $diameter/30 $diameter/30 lighen(rgb(66, 66, 66), 25%);
            }
            $diameter: $diameter+5px;
            $position: $position+$j+10;
            $j:$j+1;
        }
    }

        footer {
            @extend header;
            @include displayingContent();

            ul {
                width: 33%;

                li {
                    font-size: 10px;
                    list-style: none;

                    a {
                        @include linkDecoration();
                        display: block;
                        text-align: center;
                    }

                    a:hover {
                        @include linkDecorationOnHover();
                    }
                }
                            
            }
        }
    }