/* 
#fellows {
    display: flex;
    flex-wrap: wrap;
}
.wanted1 {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    opacity: 0.8;
}
.wanted1:hover {
    opacity: 0;
}
.wanted2 {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    opacity: 0;
}
.wanted2:hover {
    opacity: 1;
}
.wanted1 .poster {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.5;
}
.wanted2 .poster {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 1;
}
.wanted1 .wzdtatus {
    position: relative;
    display: block;
    width: 170px;
    left: 15px;
    top: 5%;
    margin: 0px;
    padding: 5px 0px;
    background-color: rgba(224,224,224,0.8);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.wanted1 .wzdtatus span {
    color: rgb(255,128,0)
}
.wanted1 .wzdname {
    position: relative;
    display: block;
    width: 180px;
    left: 10px;
    color: rgb(255,255,255);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.wanted2 .wzdname {
    position: relative;
    display: block;
    width: 180px;
    left: 10px;
    top:150px;
    color: rgb(255,255,255);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.wanted1 .wzddesc {
    position: relative;
    display: block;
    width: 180px;
    left: 10px;
    bottom: 20px;
    color: rgb(255,255,255);
    font-size: 9px;
    font-weight: bold;
    text-align: center;
} */
