/* Fellows wanted dead */
#fellows {
    display: flex;
    justify-content: space-around;
    height: 230px;
    width: 50%;
}
.wanted {
    position: relative;
}
.wanted1 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 10px;
    opacity: 0.7;
}
.wanted2 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 10px;
    opacity: 0;
}
.wanted1 .poster {
    position: absolute;
    width: 200px;
    height: 200px;
}
.wanted2 .poster {
    position: absolute;
    width: 200px;
    height: 200px;
}
.wanted1 .wzdtatus {
    position: absolute;
    display: block;
    width: 170px;
    left: 15px;
    top: 5%;
    margin: 0px;
    padding: 5px 0px;
    background-color: rgba(224,224,224,0.8);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.wanted1 .wzdtatus span {
    color: rgb(255,128,0)
}
.wanted1 .wzdname {
    position: absolute;
    display: block;
    width: 180px;
    left: 10px;
    top: 25%;
    color: rgb(255,255,255);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.wanted2 .wzdname {
    position: absolute;
    display: block;
    width: 180px;
    left: 10px;
    top:70%;
    color: rgb(255,255,255);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.wanted1 .wzddesc {
    position: absolute;
    display: block;
    width: 180px;
    left: 10px;
    bottom: 5%;
    color: rgb(255,255,255);
    font-size: 9px;
    font-weight: bold;
    text-align: center;
}